__pycache__/
__pycache__/*

videos/
videos/*
output/
output/*
dist/
dist/*
logs/
logs/*
src/
src/*
exported/
exported/*
music/
music/*
shorts/
shorts/*
sorted/*
sorted_music/*
events/*
track/*

*.mp3
*.m4a
*.opus
*.wav
*.mp4
*.srt
*.xspf
*.logs
