__pycache__/
__pycache__/*
dist/
dist/*
src/
src/*
merge/
merge/*
exported/
exported/*
music/
music/*
shorts/
shorts/*
fonts/*
sorted/*
sorted_music/*
events/*
track/*

*.mp3
*.m4a
*.opus
*.wav
*.mp4
*.srt
*.xspf
